.header {
    max-width: px-to-rem(1440);
    height: px-to-rem(960);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: px-to-rem(96);

    .container{
        display: flex;
        flex-direction: row;
        width: px-to-rem(980);
        height: px-to-rem(330);
        align-items: center;
        justify-content: space-between;


        .header-image{
            width:  px-to-rem(505);
            height: px-to-rem(330);
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: px-to-rem(380);
            height: px-to-rem(250);

            &__title{
                @include title-style;
            }

            &__text {
                font-weight: 300;
                line-height: px-to-rem(24);
            }

            &__btn {
                @include btn-styles;
            }
        }
    }
}
