.alert-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: $base-font-family;

    .alert-box {
        width: 920px;
        height: 210px;
        background-color: #fff;
        padding: 35px 95px 0;
        display: flex;
        flex-direction: column;
        position: relative;
        

        &__title {
           @include title-style;
           margin-bottom: 20px;
        }

        &__icon {
            width: px-to-rem(12);
            height: px-to-rem(12);
        }

        &__btn {
            border: none;
            cursor: pointer;
            background: none;
            position: absolute;
            top: px-to-rem(46);
            right: px-to-rem(46);
        }


        &__reset-btn {
                display: none;     
        }

        &__open{
            display: block;
            width: 128px;
            padding: 13px 30px;
            border-radius: 32px;
            margin-top: 20px;
            font-weight: 700;
            background: $primary-color;
            color: $primary-font-color;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: $hover-primary-color;
            }

            &:active {
                background-color: $active-primary-color;
            }

        }
        
    }
}
