$primary-color: #E4C1AE;
$hover-primary-color: #f0d0bf;
$active-primary-color: #dfb39c;
$base-font-family: 'Roboto', sans-serif;
$primary-font-color: #FFFFFF;
$secondary-font-color: #000000;

// Breakpoints

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
